.hero {
  background-image: url(../../img/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0;
  text-align: center;
  &__title {
    margin: 0 250px 10px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
  }
  &__btn {
    &:hover {
      color: #b8b8b8;
      background: #0076d6;
      transition: 25ms;
    }
    cursor: pointer;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: #ffffff;
    background: $main-color;
    padding: 10px 32px;
    border-radius: 3px;
    border: none;
  }
}
